<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title -->
    <title><%= username %> &middot; Profile</title>

    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />

    <!-- Profile stylesheet -->
    <link rel="stylesheet" href="/public/css/profile.css" />
  </head>
  <body>
    <!-- Username heading -->
    <h1 class="display-4 text-center"><%= username %></h1>

    <!-- Main navigation bar -->
    <nav id="main-nav">
      <!-- Navigation links -->
      <% if (type !== 'public') { %>
      <a href="/" class="nav-item">
        <span>Home</span>
      </a>
      <% } %>
      <a href="#" class="nav-item active" onclick="return false;">
        <span>Profile</span>
      </a>
      <% if (type !== 'public') { %>
      <a href="/logout" class="nav-item">
        <span>Log Out</span>
      </a>
      <% } else { %>
      <a href="/login" class="nav-item">
        <span>Log In</span>
      </a>
      <% } %>
    </nav>

    <!-- Profile navigation bar -->
    <nav id="profile-nav">
      <!-- Navigation links -->
      <a href="#" class="nav-item active" id="activity-tab">
        <span>Activity</span>
      </a>
      <% if (type !== 'public') { %>
      <a href="#" class="nav-item" id="connections-tab">
        <span>Connections</span>
      </a>
      <% } %>
      <a href="#" class="nav-item" id="about-tab">
        <span>About</span>
      </a>
    </nav>

    <!-- Main container -->
    <div id="main-container">
      <!-- Activity container -->
      <div id="activity-container"></div>

      <!-- Connections container -->
      <div id="connections-container"></div>

      <!-- About container -->
      <div id="about-container">
        <% if (type === 'public') { %>
        <div class="alert alert-primary">
          Log in to connect with <strong><%= username %></strong>.
        </div>
        <% } %>
      </div>
    </div>

    <!-- jQuery script -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>

    <!-- Profile script -->
    <% if (type === 'own') { %>
    <script src="/public/js/profile-own.js"></script>
    <% } else if (type === 'other') { %>
    <script src="/public/js/profile-other.js"></script>
    <% } else if (type === 'public') { %>
    <script src="/public/js/profile-public.js"></script>
    <% } %>
  </body>
</html>
