/* Set default colors */
body {
  color: darkslategray;
  background-color: whitesmoke;
}

/* Flexbox container */
.flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
