/* Implement CSS grid on main container */
#main-grid-container {
  display: grid;
  grid-template: auto / 50vw 50vw;
}

/* Implement CSS flexbox on head and form containers */
#head-flex-container,
#form-flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Change head container colors */
#head-flex-container {
  flex-direction: column;
  color: white;
  background-color: black;
}

/* Set form width */
#flex-form {
  width: 50%;
}

/* Hide small screen heading */
#small-screen-head {
  display: none;
}

/* If screen width is less than 768px */
@media all and (max-width: 768px) {
  /* Set form width */
  #flex-form {
    width: 70%;
  }
}

/* If screen width is less than 576px */
@media all and (max-width: 576px) {
  /* Remove CSS grid from main container */
  #main-grid-container {
    display: block;
  }

  /* Hide head container */
  #head-flex-container {
    display: none;
  }

  /* Display small screen heading */
  #small-screen-head {
    display: block;
  }

  /* Set form width */
  #flex-form {
    width: 70%;
  }
}
