/* * {
  border: 1px solid red;
} */

*,
*::before,
*::after {
  border-radius: 0 !important;
}

body {
  font-size: small;
}

nav {
  display: flex;
  width: 25vw;
  height: 25px;
  margin: 15px auto;
  border: 1px solid black;
  transition: border-color 0.5s ease;
}

a.nav-item {
  flex: 1;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

#home-nav {
  position: sticky;
  top: 15px;
  z-index: 10;
}

#main-nav > a.nav-item:hover {
  color: white;
  background-color: darkslategray;
}

#home-nav > a.nav-item:hover {
  color: white;
  background-color: slategray;
}

#main-nav > a.nav-item.active {
  color: white;
  background-color: darkslategray;
}

#home-nav > a.nav-item.active {
  color: white;
  background-color: slategray;
}

input[type]:focus {
  box-shadow: none;
  border-color: #007bff;
}

button {
  border-radius: 0 !important;
  box-shadow: none !important;
}

#main-container {
  width: 25vw;
  margin: 0 auto;
}

#search-result,
#search-container,
#notifs-container {
  display: none;
}

#search-result {
  margin: 15px auto;
}

@media all and (max-width: 768px) {
  nav,
  #main-container {
    width: 50vw;
  }
}

@media all and (max-width: 576px) {
  nav,
  #main-container {
    width: 75vw;
  }
}
