/* Flexbox container */
.flex-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/* Flexbox item */
.flex-form {
  width: 30%;
}

/* If screen width is less than 768px */
@media all and (max-width: 768px) {
  .flex-form {
    width: 40%;
  }
}

/* If screen width is less than 425px */
@media all and (max-width: 425px) {
  .flex-form {
    width: 80%;
  }
}
